:host {
  display: block;
  height: 100%;
  padding-top: 40px;

  ::ng-deep .full-height-table {
    display: block;
    height: 100%;
    position: relative;

    [class~='ant-spin-nested-loading'] {
      position: relative;
      display: block;
      height: 100%;

      .ant-spin-container {
        position: relative;
        zoom: 1;
        height: 100%;


          .ant-table {
            height: 100%;

            .ant-table-container {
              height: 100%;

              .ant-table-body {
                height: calc(100% - 54px);
                scrollbar-color: rgba(0,0,0,.06) rgba(0,0,0,.12);
                scrollbar-width: thin!important;

                &::-webkit-scrollbar {
                  width: 8px;
                  height: 8px
                }

                &::-webkit-scrollbar-track {
                  border-radius: 3px;
                  background: rgba(0,0,0,.06);
                  box-shadow: inset 0 0 5px #00000014
                }

                &::-webkit-scrollbar-thumb {
                  border-radius: 3px;
                  background: rgba(0,0,0,.12);
                  box-shadow: inset 0 0 10px #0003
                }
              }
            }
          }
        }

    }
  }
}
