<div class="inner-content mt-10">
  <div class="max-w-3xl mx-auto min-w-lg">
    <nz-upload
      nzType="drag"
      [nzMultiple]="false"
      [nzBeforeUpload]="handleBeforeUpload"
      nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
      (nzChange)="handleFileChange($event)">
      <p class="ant-upload-drag-icon">
        <span nz-icon nzType="inbox"></span>
      </p>
      <p class="ant-upload-text">Click or drag file to this area to upload</p>
      <p class="ant-upload-hint">
        Support for a single or bulk upload. Strictly prohibit from uploading
        company data or other band files
      </p>
    </nz-upload>
  </div>
  <div class="max-w-3xl mx-auto min-w-lg overflow-auto">
    <nz-table
      #wordsTable
      [nzData]="words"
      [nzLoading]="false"
      [nzHideOnSinglePage]
      ngSkipHydration>
      <thead>
        <tr>
          <th>日语</th>
          <th>读音</th>
          <th>词意</th>
          <th>中文</th>
          <th>词意</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of wordsTable.data">
          <td>{{ data.japanese }}</td>
          <td>{{ data.hiragana }}</td>
          <td>{{ data.meanOfChinese }}</td>
          <td>{{ data.chinese }}</td>
          <td>{{ data.chineseMeaning }}</td>
          <td>
            <a>复制</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
