<div class="inner-content mt-10">
  <div class="max-w-3xl mx-auto min-w-lg">
    <nz-upload nzType="drag" [nzMultiple]="false" [nzBeforeUpload]="handleBeforeUpload" nzAction="" (nzChange)="handleFileChange($event)">
      <p class="ant-upload-text">点击此处或拖动文件到此处</p>
      <p class="ant-upload-hint">请修改模板文件后再进行转换</p>
    </nz-upload>
  </div>
  <div class="max-w-3xl mx-auto min-w-lg overflow-auto">
    <nz-table #wordsTable [nzData]="words" [nzLoading]="false" [nzHideOnSinglePage] [nzFooter]="tableFooter" ngSkipHydration>
      <thead>
        <tr>
          <th>日语</th>
          <th>读音</th>
          <th>词意</th>
          <th>中文</th>
          <th>词意</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of wordsTable.data">
          <td>{{ data.japanese }}</td>
          <td>{{ data.hiragana }}</td>
          <td>{{ data.meanOfChinese }}</td>
          <td>{{ data.chinese }}</td>
          <td>{{ data.chineseMeaning }}</td>
          <td>
            <a>复制</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <ng-template #tableFooter>
    <span>
      请先
      <a download="cn-jp-words.xlsx" href="assets/cn-jp-words.xlsx" class="text-emerald-500">下载模板文件</a>，修改后再转换。</span
    ></ng-template
  >
</div>
