<div class="inner-content h-full">
  <div class="max-w-7xl mx-auto min-w-lg">
    <nz-upload nzType="drag" [nzMultiple]="false" [nzBeforeUpload]="handleBeforeUpload" nzAction="" (nzChange)="handleFileChange($event)">
      <p class="ant-upload-text">点击此处或拖动文件到此处</p>
      <p class="ant-upload-hint">请修改模板文件后再进行转换</p>
    </nz-upload>
  </div>
  <div class="max-w-7xl mx-auto min-w-lg overflow-hidden" style="height: calc(100% - 100px)">
    <nz-table class="{{ tableClass }} table-with-footer" #wordsTable [nzData]="words" [nzLoading]="false" [nzHideOnSinglePage]="false" [nzPageSize]="20" [nzFooter]="tableFooter" ngSkipHydration [nzScroll]="{ y: '100%' }">
      <thead>
        <tr>
          <th nzWidth="100px">日语</th>
          <th nzWidth="150px">读音</th>
          <th nzWidth="150px">词意</th>
          <th nzWidth="100px">中文</th>
          <th>词意</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of wordsTable.data">
          <td><span style="color: {{typeColors[data.type]}}">{{ data.japanese }}</span></td>
          <td>{{ data.hiragana }}</td>
          <td>{{ data.meanOfChinese }}</td>
          <td>{{ data.chinese }}</td>
          <td>{{ data.chineseMeaning }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <ng-template #tableFooter>
    <span>请先</span>
    <a download="cn-jp-words.xlsx" href="assets/cn-jp-words.xlsx" class="text-emerald-500 pl-1">下载模板文件</a>
    <span>，修改后再转换导出。</span>
    <button nz-button nzType="primary" nzSize="small" (click)="handleDownload($event)">导出</button>
  </ng-template>
</div>
