<div class="inner-content mt-10">
  <div class="max-w-7xl mx-auto min-w-lg overflow-auto">
    <nz-table
      #wordsTable
      [nzData]="words"
      [nzLoading]="loading"
      [nzHideOnSinglePage]
      ngSkipHydration>
      <thead>
        <tr>
          <th>日语</th>
          <th>读音</th>
          <th>词意</th>
          <th>中文</th>
          <th>词意</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of wordsTable.data">
          <td>{{ data.japanese }}</td>
          <td>{{ data.hiragana }}</td>
          <td>{{ data.meanOfChinese }}</td>
          <td>{{ data.chinese }}</td>
          <td>{{ data.chineseMeaning }}</td>
          <td>
            <a>复制</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
